version: '3'

services:
  webapp:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - 5001:5001
    env_file:
      - .env 
    environment:
      MONGODB_URI: ${MONGODB_URI}
      DB_NAME: ${DB_NAME}
      NAME: Dev
    networks:
      app-net:
       ipv4_address: 172.18.0.9
    depends_on:
      - mongodb
    restart: always

  mongodb:
    image: mongo:latest
    ports:
      - 27017:27017
    networks:
      app-net:
        ipv4_address: 172.18.0.11
    restart: always
    volumes:
      - mongo-data:/data/db

networks:
  app-net:
    driver: bridge
    ipam:
     driver: default
     config:
      - subnet: 172.18.0.0/16


#       nginx:
#     image: nginx:latest
#     container_name: nginx-proxy
#     networks:
#        app-net:
#         ipv4_address: 172.18.0.10
#     ports:
#       - "80:80"
#       - "443:443"
#     volumes:
#       - ./nginx.conf:/etc/nginx/nginx.conf:ro
#       - /etc/nginx/ssl/node-app/socialo-cert.pem:/etc/nginx/socialo-cert.pem:ro
#       - /etc/nginx/ssl/node-app/socialo-key.pem:/etc/nginx/socialo-key.pem:ro



   

